<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dac5ef">  <td>22/02/07 14:33:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(org.testng.ITestContext, java.lang.String, java.lang.String)[pri:0, instance:AndroidLocal@693fe6c9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@210281271</td>   <td></td> </tr>
<tr bgcolor="977460">  <td>22/02/07 14:33:55</td>   <td>36427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AndroidLocal.AndroidTest()[pri:0, instance:AndroidLocal@693fe6c9]">AndroidTest</td> 
  <td>main@210281271</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>22/02/07 14:34:02</td>   <td>43467</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest(org.testng.ITestContext)[pri:0, instance:AndroidLocal@693fe6c9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@210281271</td>   <td></td> </tr>
</table>
